<div class="col-lg-12">
 <div class="d-flex justify-content-center align-items-center fw-bolder ">
 <div class="card  bg-info text-light border-dark  " style="box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2), 0 4px 6px rgba(255, 255, 255, 0.1); width: 70%;">
    <div class="card-body text-center ">
      <h2 class="text-primary-emphasis">Edit Documents Details</h2>
    </div>
  </div>
  </div>
<%= render 'form' , document: @document %>
  

</div>