<div class="col-lg-12">
  <div class="d-flex justify-content-center mb-3 align-items-center ">
     <div class="card rounded-lg  bg-dark text-light border-primary rounded-pill " style="box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2), 0 4px 6px rgba(255, 255, 255, 0.1); width: 40%;">
     <div class="card-body text-center ">
      <h2 class="text-center text-primary ">
        <i class="bi bi-person-fill"></i> Create New Document
      </h2>
    </div>
  </div>
  </div>
<%# <%= render 'form' , document :@document %> 
  <%= render 'form', document: @document %>

</div>